<div class="containerTitle">
  <mat-card appearance="outlined" class="cardSize">
    <mat-card-header>
      <mat-card-title> Colegio la Presentacion</mat-card-title>
      <mat-card-subtitle>por un futuro mejor</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>Añadir estudiante</button>
    </mat-card-actions>
  </mat-card>
  <mat-card appearance="outlined" class="cardSize">
    <mat-card-header>
      <mat-card-title> Colegio la Presentacion</mat-card-title>
      <mat-card-subtitle>por un futuro mejor</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button (click)="activeFormButton('profesor')" mat-button>
        Añadir un profesor
      </button>
      <button (click)="activeFormButton('curso')" mat-button>
        Añadir un curso
      </button>
      <button (click)="activeFormButton('estudiante')" mat-button>
        Añadir un estudiante
      </button>
      <button (click)="activeFormButton('materia')" mat-button>
        Añadir un materia
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<!-- Formulario profesor-->
<form
  [formGroup]="formProfesor"
  (ngSubmit)="addItem('profesor')"
  *ngIf="activeProfesor"
>
  <label for="curso">Nombre:</label>
  <input id="curso" formControlName="nombre" />

  <label for="estudiantes">Apellido:</label>
  <input id="estudiantes" formControlName="apellido" />

  <button type="submit">
    {{ editingIndex !== null ? "Actualizar" : "Agregar" }}
  </button>
</form>
<!-- Formulario curso-->
<form [formGroup]="formCurso" (ngSubmit)="addItem('curso')" *ngIf="activeCurso">
  <label for="curso">Nombre del curso:</label>
  <input id="curso" formControlName="nombre" />

  <label for="estudiantes">año del curso:</label>
  <input id="estudiantes" formControlName="año" />

  <button type="submit">
    {{ editingIndex !== null ? "Actualizar" : "Agregar" }}
  </button>
</form>

<!-- Formulario Estudiante-->
<form
  [formGroup]="formEstudiante"
  (ngSubmit)="addItem('estudiante')"
  *ngIf="activeEstudiante"
>
  <label for="curso">Nombre:</label>
  <input id="curso" formControlName="nombre" />
  <label for="estudiantes">Apellido:</label>
  <input id="estudiantes" formControlName="apellido" />
  <label for="estudiantes">curso:</label>
  <input id="estudiantes" formControlName="curso" />

  <button type="submit">
    {{ editingIndex !== null ? "Actualizar" : "Agregar" }}
  </button>
</form>
<!-- Formulario Materias-->
<form
  [formGroup]="formMateria"
  (ngSubmit)="addItem('materia')"
  *ngIf="activeMateria"
>
  <label for="curso">Nombre de la materia:</label>
  <input id="curso" formControlName="curso" />

  <label for="estudiantes">Profesores disponibles:</label>
  <input id="estudiantes" formControlName="profesor" />

  <button type="submit">
    {{ editingIndex !== null ? "Actualizar" : "Agregar" }}
  </button>
</form>
<!-- Formulario notas-->
<form [formGroup]="form" (ngSubmit)="addItem('nota')" *ngIf="activeNotas">
  <mat-form-field>
    <mat-label for="cursos">Curso:</mat-label>
    <select matNativeControl id="curso" formControlName="curso" required>
      <option *ngFor="let item of cursos" value="volvo">
        {{ item.nombre }} - {{ item.anio }}
      </option>
    </select>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="estudiantes">Estudiante:</mat-label>
    <select
      matNativeControl
      id="estudiantes"
      formControlName="estudiantes"
      required
    >
      <option *ngFor="let item of estudiantes" [value]="item.id">
        {{ item.nombre }} {{ item.apellido }}
      </option>
    </select>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="materia">Materia:</mat-label>
    <select matNativeControl id="materia" formControlName="materia" required>
      <option *ngFor="let item of estudiantes" [value]="item.id">
        {{ item.nombre }} {{ item.apellido }}
      </option>
    </select>
  </mat-form-field>

  <label for="nota">Nota:</label>
  <input id="nota" formControlName="nota" />

  <label for="profesor">Profesor:</label>
  <input id="profesor" formControlName="profesor" />

  <button type="submit">
    {{ editingIndex !== null ? "Actualizar" : "Agregar" }}
  </button>
</form>

<!-- Tabla -->
<div class="table-container">
  <table class="data-table">
    <thead>
      <tr>
        <th>Curso</th>
        <th>Estudiantes</th>
        <th>Materia</th>
        <th>Nota</th>
        <th>Profesor</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; let i = index">
        <td>{{ item.curso }}</td>
        <td>{{ item.estudiantes }}</td>
        <td>{{ item.materia }}</td>
        <td>{{ item.nota }}</td>
        <td>{{ item.nombre + " " + item.apellido }}</td>
        <td>
          <button (click)="editItem(i)">Editar</button>
        </td>
        <td>
          <button (click)="deleteItem(i)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
